In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [2]:
dates = pd.date_range('1/1/2000', periods=10)

In [3]:
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(10, 4),index=dates, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2000-01-01  0.383023  1.877255 -0.691781 -0.703798
2000-01-02 -0.346059 -1.852604 -0.278236 -1.297436
2000-01-03 -0.819541 -1.055057  0.057064 -0.134281
2000-01-04 -1.157159  0.325264 -1.373997 -1.941989
2000-01-05  0.423163  0.031872 -1.670472 -0.621873
2000-01-06  1.124121  0.238396  1.685163 -0.251619
2000-01-07  0.418121  0.623196 -0.076841  0.837139
2000-01-08  1.522733  0.198380  0.707319  1.362846
2000-01-09  0.967111  0.165367  0.565064 -0.872076
2000-01-10  0.643099  0.732588  1.441999  1.011026

In [5]:
df2 =pd.DataFrame(np.random.randn(8, 4),columns=['A', 'B', 'C', 'D'])

In [6]:
df2

          A         B         C         D
0 -0.884766 -0.243041 -1.413437 -0.391017
1  1.012176  0.004220  0.064979 -0.864213
2  0.096901 -1.016758 -1.048021  1.534606
3 -0.976983  1.568469  0.214312  2.253106
4  1.202407  0.807046 -1.548932 -0.638776
5  1.098077  0.589104  0.898445  1.644949
6  1.438295 -0.115524  0.599766 -1.367173
7  1.676807  0.234258  1.073511 -0.422592

In [7]:
df3 = pd.DataFrame(np.random.randn(6, 3),columns=['1', '2', '3'])

In [8]:
df3

          1         2         3
0  0.231003  0.848472  1.382487
1  1.000597 -1.598157 -0.649392
2  0.350502  0.978119 -0.485099
3 -2.524474  1.270270 -1.867177
4  0.493122 -0.646952  1.476821
5  0.191283  0.246047  0.243668

In [9]:
df2

          A         B         C         D
0 -0.884766 -0.243041 -1.413437 -0.391017
1  1.012176  0.004220  0.064979 -0.864213
2  0.096901 -1.016758 -1.048021  1.534606
3 -0.976983  1.568469  0.214312  2.253106
4  1.202407  0.807046 -1.548932 -0.638776
5  1.098077  0.589104  0.898445  1.644949
6  1.438295 -0.115524  0.599766 -1.367173
7  1.676807  0.234258  1.073511 -0.422592

In [10]:
 df

                   A         B         C         D
2000-01-01  0.383023  1.877255 -0.691781 -0.703798
2000-01-02 -0.346059 -1.852604 -0.278236 -1.297436
2000-01-03 -0.819541 -1.055057  0.057064 -0.134281
2000-01-04 -1.157159  0.325264 -1.373997 -1.941989
2000-01-05  0.423163  0.031872 -1.670472 -0.621873
2000-01-06  1.124121  0.238396  1.685163 -0.251619
2000-01-07  0.418121  0.623196 -0.076841  0.837139
2000-01-08  1.522733  0.198380  0.707319  1.362846
2000-01-09  0.967111  0.165367  0.565064 -0.872076
2000-01-10  0.643099  0.732588  1.441999  1.011026

In [11]:
df.A

2000-01-01    0.383023
2000-01-02   -0.346059
2000-01-03   -0.819541
2000-01-04   -1.157159
2000-01-05    0.423163
2000-01-06    1.124121
2000-01-07    0.418121
2000-01-08    1.522733
2000-01-09    0.967111
2000-01-10    0.643099
Freq: D, Name: A, dtype: float64

In [12]:
df[['A', 'B']]

                   A         B
2000-01-01  0.383023  1.877255
2000-01-02 -0.346059 -1.852604
2000-01-03 -0.819541 -1.055057
2000-01-04 -1.157159  0.325264
2000-01-05  0.423163  0.031872
2000-01-06  1.124121  0.238396
2000-01-07  0.418121  0.623196
2000-01-08  1.522733  0.198380
2000-01-09  0.967111  0.165367
2000-01-10  0.643099  0.732588

In [13]:
df[['A', 'C']]

                   A         C
2000-01-01  0.383023 -0.691781
2000-01-02 -0.346059 -0.278236
2000-01-03 -0.819541  0.057064
2000-01-04 -1.157159 -1.373997
2000-01-05  0.423163 -1.670472
2000-01-06  1.124121  1.685163
2000-01-07  0.418121 -0.076841
2000-01-08  1.522733  0.707319
2000-01-09  0.967111  0.565064
2000-01-10  0.643099  1.441999

In [14]:
df[['A','B','C']]

                   A         B         C
2000-01-01  0.383023  1.877255 -0.691781
2000-01-02 -0.346059 -1.852604 -0.278236
2000-01-03 -0.819541 -1.055057  0.057064
2000-01-04 -1.157159  0.325264 -1.373997
2000-01-05  0.423163  0.031872 -1.670472
2000-01-06  1.124121  0.238396  1.685163
2000-01-07  0.418121  0.623196 -0.076841
2000-01-08  1.522733  0.198380  0.707319
2000-01-09  0.967111  0.165367  0.565064
2000-01-10  0.643099  0.732588  1.441999

In [15]:
s = df['A']

In [16]:
s

2000-01-01    0.383023
2000-01-02   -0.346059
2000-01-03   -0.819541
2000-01-04   -1.157159
2000-01-05    0.423163
2000-01-06    1.124121
2000-01-07    0.418121
2000-01-08    1.522733
2000-01-09    0.967111
2000-01-10    0.643099
Freq: D, Name: A, dtype: float64

In [17]:
 s[dates[5]]

1.1241206633908398

In [18]:
df[['B', 'A']] = df[['A', 'B']]

In [19]:
df

                   A         B         C         D
2000-01-01  1.877255  0.383023 -0.691781 -0.703798
2000-01-02 -1.852604 -0.346059 -0.278236 -1.297436
2000-01-03 -1.055057 -0.819541  0.057064 -0.134281
2000-01-04  0.325264 -1.157159 -1.373997 -1.941989
2000-01-05  0.031872  0.423163 -1.670472 -0.621873
2000-01-06  0.238396  1.124121  1.685163 -0.251619
2000-01-07  0.623196  0.418121 -0.076841  0.837139
2000-01-08  0.198380  1.522733  0.707319  1.362846
2000-01-09  0.165367  0.967111  0.565064 -0.872076
2000-01-10  0.732588  0.643099  1.441999  1.011026

In [20]:
df.loc[:, ['B', 'A']] = df[['A', 'B']].to_numpy()

In [37]:
df

                   A         B         C         D
2000-01-01 -1.072388  0.535008  1.421103 -0.192372
2000-01-02 -0.209947  0.047431 -0.166380  1.663523
2000-01-03 -0.814171 -1.477963  0.006475  0.075115
2000-01-04  1.199787 -0.405187  0.336995 -1.675011
2000-01-05  0.614199 -0.047723  0.443761 -0.515415
2000-01-06  0.557425 -0.508526 -0.543155 -0.325128
2000-01-07  0.834570 -0.299431  1.558744 -0.282465
2000-01-08 -0.412928  1.435479 -0.699651  0.241818
2000-01-09 -0.438080 -0.135515  0.164591  0.739311
2000-01-10  0.419097  0.939482 -1.325871  0.302467

In [38]:
sa = pd.Series([1, 2, 3], index=list('abc'))

In [39]:
sa

a    1
b    2
c    3
dtype: int64

In [40]:
dfa = df.copy()

In [41]:
dfa

                   A         B         C         D
2000-01-01 -1.072388  0.535008  1.421103 -0.192372
2000-01-02 -0.209947  0.047431 -0.166380  1.663523
2000-01-03 -0.814171 -1.477963  0.006475  0.075115
2000-01-04  1.199787 -0.405187  0.336995 -1.675011
2000-01-05  0.614199 -0.047723  0.443761 -0.515415
2000-01-06  0.557425 -0.508526 -0.543155 -0.325128
2000-01-07  0.834570 -0.299431  1.558744 -0.282465
2000-01-08 -0.412928  1.435479 -0.699651  0.241818
2000-01-09 -0.438080 -0.135515  0.164591  0.739311
2000-01-10  0.419097  0.939482 -1.325871  0.302467

In [42]:
sa.b

2

In [43]:
sa.c

3

In [44]:
sa.a

1

In [45]:
sa

a    1
b    2
c    3
dtype: int64

In [46]:
dfa.A

2000-01-01   -1.072388
2000-01-02   -0.209947
2000-01-03   -0.814171
2000-01-04    1.199787
2000-01-05    0.614199
2000-01-06    0.557425
2000-01-07    0.834570
2000-01-08   -0.412928
2000-01-09   -0.438080
2000-01-10    0.419097
Freq: D, Name: A, dtype: float64

In [47]:
dfa.B

2000-01-01    0.535008
2000-01-02    0.047431
2000-01-03   -1.477963
2000-01-04   -0.405187
2000-01-05   -0.047723
2000-01-06   -0.508526
2000-01-07   -0.299431
2000-01-08    1.435479
2000-01-09   -0.135515
2000-01-10    0.939482
Freq: D, Name: B, dtype: float64

In [53]:
sa.a

1