import pandas as pd
from matplotlib import pyplot as plt

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [2]:
# Creating the dataframe  
df = pd.DataFrame({"A":[12, 4, 5, 44, 1], 
                   "B":[5, 2, 54, 3, 2],  
                   "C":[20, 16, 7, 3, 8], 
                   "D":[14, 3, 17, 2, 6]}) 
# Print the dataframe 
df

    A   B   C   D
0  12   5  20  14
1   4   2  16   3
2   5  54   7  17
3  44   3   3   2
4   1   2   8   6

In [3]:
df.mean()

A    13.2
B    13.2
C    10.8
D     8.4
dtype: float64

In [4]:
df.A.count()

5

In [5]:
df.A.mean()

13.2

In [6]:
df.A.std()

17.683325479106017

In [7]:
df.describe()

               A          B          C          D
count   5.000000   5.000000   5.000000   5.000000
mean   13.200000  13.200000  10.800000   8.400000
std    17.683325  22.840753   6.978539   6.730527
min     1.000000   2.000000   3.000000   2.000000
25%     4.000000   2.000000   7.000000   3.000000
50%     5.000000   3.000000   8.000000   6.000000
75%    12.000000   5.000000  16.000000  14.000000
max    44.000000  54.000000  20.000000  17.000000

In [8]:
df.A.describe()

count     5.000000
mean     13.200000
std      17.683325
min       1.000000
25%       4.000000
50%       5.000000
75%      12.000000
max      44.000000
Name: A, dtype: float64

In [9]:
df

    A   B   C   D
0  12   5  20  14
1   4   2  16   3
2   5  54   7  17
3  44   3   3   2
4   1   2   8   6

In [12]:
one=pd.DataFrame(np.random.randn(5,4))
one

          0         1         2         3
0 -0.764522 -0.516345  1.801529 -0.938726
1 -0.400700  0.386652 -0.151687 -0.300870
2 -0.556283 -0.810617  0.812971  0.776667
3 -1.049182 -0.413573 -2.318795 -0.444129
4 -1.129351 -0.644459  0.461132  0.795825

In [13]:
two=pd.DataFrame(np.random.randn(5,4))
two

          0         1         2         3
0 -0.881581 -0.189841  1.156289 -2.012724
1  1.185678  0.799024  0.716008  0.905139
2  1.020763  0.282207  1.025352  2.037653
3  0.229075  1.027485 -0.418607 -0.014042
4 -0.137691 -0.310758  0.584889  0.749746

In [15]:
pd.concat([one,two])

          0         1         2         3
0 -0.764522 -0.516345  1.801529 -0.938726
1 -0.400700  0.386652 -0.151687 -0.300870
2 -0.556283 -0.810617  0.812971  0.776667
3 -1.049182 -0.413573 -2.318795 -0.444129
4 -1.129351 -0.644459  0.461132  0.795825
0 -0.881581 -0.189841  1.156289 -2.012724
1  1.185678  0.799024  0.716008  0.905139
2  1.020763  0.282207  1.025352  2.037653
3  0.229075  1.027485 -0.418607 -0.014042
4 -0.137691 -0.310758  0.584889  0.749746

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier,export_graphviz
from sklearn import metrics

ModuleNotFoundError: No module named 'sklearn'